# Classification model for Logestic Regression

PS: Using the titanic data set to predict if a passanger will survive or not based on age, gender, class of travel

In [1]:
import pandas as pd
import os

os.chdir('X:\Revision - Python\DataSet')

titanic = pd.read_csv('titanic_survival_gh.csv')
titanic.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,...,boat,body,home.dest,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0,0,0,24160,211.3375,B5,...,2,NaN,"St Louis, MO",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,"Allison, Master. Hudson Trevor",male,0.9,1,2,113781,151.5500,C22 C26,...,11,NaN,"Montreal, PQ / Chesterville, ON",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,0,"Allison, Miss. Helen Loraine",female,2.0,1,2,113781,151.5500,C22 C26,...,NaN,NaN,"Montreal, PQ / Chesterville, ON",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0,1,2,113781,151.5500,C22 C26,...,NaN,135.0,"Montreal, PQ / Chesterville, ON",NaN,NaN,NaN,NaN,NaN,Male,35.0
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0,1,2,113781,151.5500,C22 C26,...,NaN,NaN,"Montreal, PQ / Chesterville, ON",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
# taking only relevant columns basd on problem statement

titanic_clean = titanic[['pclass','survived','sex','age']]
titanic_clean.head()

   pclass  survived     sex   age
0       1         1  female  29.0
1       1         1    male   0.9
2       1         0  female   2.0
3       1         0    male  30.0
4       1         0  female  25.0

In [3]:
titanic_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pclass    1309 non-null   int64
 1   survived  1309 non-null   int64
 2   sex       1309 non-null   object
 3   age       1046 non-null   float64
dtypes: float64(1), int64(2), object(1)
memory usage: 41.0+ KB

In [4]:
titanic_clean.isnull().sum()

pclass        0
survived      0
sex           0
age         263
dtype: int64

In [5]:
# dropping null values

df_clean = titanic_clean.dropna()
df_clean.isnull().sum()

pclass      0
survived    0
sex         0
age         0
dtype: int64

In [8]:
# Creatingg dummy varibles

df_dummies = pd.get_dummies(df_clean, columns=['sex'], drop_first=True)
df_dummies.head()

   pclass  survived   age  sex_male
0       1         1  29.0         0
1       1         1   0.9         1
2       1         0   2.0         0
3       1         0  30.0         1
4       1         0  25.0         0

In [9]:
# Dfining Variables

Y = df_dummies[['survived']]
X = df_dummies.drop(columns='survived')

print(Y.shape)
print(X.shape)

(1046, 1)
(1046, 3)

In [10]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(X,Y,test_size=0.20,random_state=36)
len(x_train),  len(x_test), len(y_train), len(y_test)

(836, 210, 836, 210)

In [12]:
# Building the model 

from sklearn.linear_model import LogisticRegression

lr = LogisticRegression()

# Fitting the model on trainnig data

model_lr = lr.fit(x_train,y_train)
model_lr

C:\Users\Abhinav Shedmekhe\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

LogisticRegression()

In [13]:
# Confusion Matrix

y_test['Pred_survived'] = model_lr.predict(x_test)
y_test

C:\Users\ABHINA~1\AppData\Local\Temp/ipykernel_22704/1904024038.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  y_test['Pred_survived'] = model_lr.predict(x_test)

      survived  Pred_survived
1187         1              1
1191         0              0
652          0              0
386          0              0
541          1              1
...        ...            ...
250          1              1
231          1              0
50           1              1
1299         0              0
965          0              0

[210 rows x 2 columns]

In [16]:
from sklearn.metrics import confusion_matrix, accuracy_score

print(confusion_matrix(y_test['survived'],y_test['Pred_survived']))
print(accuracy_score(y_test['survived'],y_test['Pred_survived']))

[[102  21]
 [ 31  56]]
0.7523809523809524

In [17]:
# The accuracy of the model is 75%.